<?xml version="1.0" encoding="utf-8"?>
        <manifest xmlns:android="http://schemas.android.com/apk/res/android"
            package="com.example.projectmobile4">

            <application
                android:allowBackup="true"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_launcher_round"
                android:supportsRtl="true"
                android:theme="@style/AppTheme">
                <activity
                    android:name="com.example.projectmobile4.Splash">
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN" />
                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
                </activity>
                <activity
                    android:name="com.example.projectmobile4.MainActivity"
                    android:background="@color/Yellow">
                </activity>
                <activity
                    android:name="com.example.projectmobile4.Over"
                    android:background="@color/Red">
                </activity>
                <activity
                    android:name="com.example.projectmobile4.Score"
                    android:background="@color/Green">
                </activity>
                <activity
                    android:name="com.example.projectmobile4.Categorie"
                    android:background="@color/Blue">
                </activity>
                <activity
                    android:name="com.example.projectmobile4.Oefen"
                    android:background="@color/Yellow">
                </activity>
                <activity
                    android:name="com.example.projectmobile4.Speel"
                    android:background="@color/Red">
                </activity>
            </application>
</manifest>